<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="globals-epy-vs-isos.ZPM">
    <Module>
      <Name>globals-epy-vs-isos</Name>
      <Version>0.0.1</Version>
      <Description>compare global write performance SPy vs. ISOS</Description>
      <Keywords>M:N relation, data set</Keywords>  
	  	<Author>
			<Person>Robert C. Cemper</Person>
			<CopyrightDate>2022</CopyrightDate>
			<License>MIT</License>
			<Notes>
				repository: https://github.com/rcemper/Globals-ePy-vs.-ISOS
			</Notes>
		</Author>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.rcc.ePYvsISOS.CLS"/>
    </Module>
  </Document>
</Export>
